@import '../../resources/mixins';

.loginPage {
  background-size: cover;
  background-color: $gray-lighten-more;
  background-position: center center;

  &__block {
    padding: rem(40);
    width: 100%;
    align-self: center;
    position: relative;
    z-index: 2;

    @media (max-width: $md-max-width) {
      padding: rem(20);
    }

    &__inner {
      min-width: rem(300);
      max-width: rem(500);
      margin: 0 auto;
      padding: rem(50) rem(40) rem(20);
      border-radius: 10px;
      overflow: hidden;
      background-color: $white;
      position: relative;
      box-shadow: 0 10px 40px -20px rgba(0,0,50,.2),  0 10px 80px -20px rgba(0,0,50,.1);

      @media (max-width: $md-max-width) {
        padding: rem(30) rem(30) rem(10);
      }
    }

    &__form {
      position: relative;
      z-index: 2;
    }
  }
}