@import '../../../mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE MODULE STYLES */

html {
  font-size: 13px;
  @media (max-width: $sm-max-width) {
    font-size: 12px;
  }
}

body {
  font-family: $base__font-family;
  color: $text-darken-more;
  background: $gray-lighten-more;
  line-height: 1.7;

  @media (max-width: $sm-max-width) {
    font-size: 12px;
  }

  @media (min-width: $md-min-width) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: $text;
  @include transition-color();
  &:hover, &:active, &:focus {
    color: $blue;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base__font-family;
  color: $text-darken-more;
}

button, input {
  box-shadow: none !important;
}

input[type=text], input[type=password], input[type=email], textarea {
  appearance: none !important;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

// code element
code {
  color: $text;
  background: $gray-lighten-more;
  display: inline-block;
  padding: rem(2) rem(5);
  border-radius: 3px;
}

// pre element
pre {
  color: $text;
  padding: rem(20);
  border-radius: 3px;
  border: 1px solid $gray-border;
  background: $gray-lighten-more;
}

// ant design font overrides
button, input, select, textarea {
  font-family: inherit;
}


/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE COMPONENTS & UTILITIES */

.utils {

  // main container
  &__content {
    padding: rem(30);

    @media (max-width: $md-max-width) {
      padding: rem(30) rem(20);
      overflow-x: hidden;
    }


    @media (max-width: $sm-max-width) {
      padding: rem(30) rem(10);
      overflow-x: hidden;
    }
  }

  &__title {
    font-size: rem(17);
    color: $black;
  }

  &__titleDescription {
    color: $text-lighten;
  }

  // scrollable block
  &__scrollable {
    overflow: auto;
  }

  // font size
  @at-root {
    .font-size-0 {font-size: rem(0)}
    .font-size-10 {font-size: rem(10)}
    .font-size-12 {font-size: rem(12)}
    .font-size-14 {font-size: rem(14)}
    .font-size-16 {font-size: rem(16)}
    .font-size-18 {font-size: rem(18)}
    .font-size-20 {font-size: rem(20)}
    .font-size-24 {font-size: rem(24)}
    .font-size-26 {font-size: rem(26)}
    .font-size-30 {font-size: rem(30)}
    .font-size-36 {font-size: rem(36)}
    .font-size-40 {font-size: rem(40)}
    .font-size-50 {font-size: rem(50)}
    .font-size-60 {font-size: rem(60)}
    .font-size-70 {font-size: rem(70)}
    .font-size-80 {font-size: rem(80)}
  }

  // quick height
  @at-root {
    .height-100 {height: rem(100);}
    .height-200 {height: rem(200);}
    .height-300 {height: rem(300);}
    .height-400 {height: rem(400);}
    .height-500 {height: rem(500);}
    .height-600 {height: rem(600);}
    .height-700 {height: rem(700);}
  }

  // quick min-height
  @at-root {
    .min-height-100 {min-height: rem(100);}
    .min-height-200 {min-height: rem(200);}
    .min-height-300 {min-height: rem(300);}
    .min-height-400 {min-height: rem(400);}
    .min-height-500 {min-height: rem(500);}
    .min-height-600 {min-height: rem(600);}
    .min-height-700 {min-height: rem(700);}
  }

  // quick width
  @at-root {
    .width-50 {width: rem(50);}
    .width-75 {width: rem(75);}
    .width-100 {width: rem(100);}
    .width-150 {width: rem(150);}
    .width-200 {width: rem(200);}
    .width-300 {width: rem(300);}
    .width-400 {width: rem(400);}
    .width-500 {width: rem(500);}
    .width-600 {width: rem(600);}
    .width-700 {width: rem(700);}
    .width-30p {width: 30%;}
    .width-50p {width: 50%;}
    .width-60p {width: 60%;}
    .width-100p {width: 100%;}
  }

  // quick max-width
  @at-root {
    .max-width-50 {max-width: rem(50);}
    .max-width-75 {max-width: rem(75);}
    .max-width-100 {max-width: rem(100);}
    .max-width-200 {max-width: rem(200);}
    .max-width-300 {max-width: rem(300);}
    .max-width-400 {max-width: rem(400);}
    .max-width-500 {max-width: rem(500);}
    .max-width-600 {max-width: rem(600);}
    .max-width-700 {max-width: rem(700);}
    .max-width-30p {max-width: 30%;}
    .max-width-50p {max-width: 50%;}
    .max-width-60p {max-width: 60%;}
    .max-width-100p {max-width: 100%;}
    .max-width-100p {max-width: 100% !important;}
  }

  // example block
  &__example {
    padding: rem(15);
    border: 1px solid $gray-border;
    &:before {
      content: 'EXAMPLE';
      display: block;
      margin-bottom: rem(15);
      color: $text;
    }
  }

  // links
  &__link {
    &--underlined {
      border-bottom: 1px solid rgba($black-lighten-more, .25);
      &:hover {
        border-bottom-color: rgba($blue, .2);
      }
    }
    &--blue {
      color: $blue;
      &:hover {
        color: $blue-darken;
      }
      &.link-underlined {
        border-bottom: 1px solid rgba($blue, .25);
        &:hover {
          border-bottom-color: rgba($blue, .2);
        }
      }
    }
  }

  // donut badge
  &__donut {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    border-radius: 100%;
    border: 4px solid $default;
    position: relative;
    top: rem(2);
    margin-right: rem(4);
    &--default {
      border-color: $default;
    }
    &--primary {
      border-color: $primary;
    }
    &--secondary {
      border-color: $secondary;
    }
    &--success {
      border-color: $success;
    }
    &--warning {
      border-color: $warning;
    }
    &--danger {
      border-color: $danger;
    }
    &--info {
      border-color: $info;
    }
    &--yellow {
      border-color: $yellow;
    }
  }

  // icons block
  &__iconsBlock {
    padding: 0 0 rem(30);
    text-align: center;
    p {
      height: rem(30);
    }
    li {
      text-align: center;
      display: inline-block;
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      font-size: rem(36);
      padding: rem(10) rem(30);
      box-sizing: content-box;
      border-radius: 3px;
      background: $gray-lighten;
      margin: rem(10);
      &:hover {
        background: $black-lighten;
        color: $white;
      }
    }
    .tooltip {
      font-size: rem(18);
    }
  }

  // default form
  &__form {
    max-width: rem(700);
    margin: 0 auto;
  }

  // Upload Area
  &__upload {
    display: block;
    .ant-upload {
      height: 350px;
    }
  }

  // 404

  &__404 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: rem(20);
    overflow: hidden;

    @media (max-width: $md-max-width) {
      text-align: center;
    }

    &__inner {
      width: 100%;
      max-width: rem(700);
      margin: 0 auto;
    }
    &__left {
      padding-top: rem(70);
      margin-bottom: rem(40);
      img {
        position: relative;
        left: -10px;

        @media (max-width: $md-max-width) {
          left: 0;
        }
      }
    }
    &__right {
      img {
        max-width: rem(400);
        position: relative;
        right: -40px;
      }
    }
  }

  // default spinner
  &__spin {
    position: absolute;
    margin: 0 !important;
    pointer-events: none;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    &:after {
      animation: fa-spin 1s infinite linear;
      display: block;
      content: '';
      width: 33px;
      height: 33px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0px 0px -20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDFweCIgIGhlaWdodD0iNDFweCIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0ibGRzLXJvbGxpbmciPiAgICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iIzAxOTBmZSIgc3Ryb2tlLXdpZHRoPSIxMCIgcj0iMzUiIHN0cm9rZS1kYXNoYXJyYXk9IjE2NC45MzM2MTQzMTM0NjQxNSA1Ni45Nzc4NzE0Mzc4MjEzOCIgdHJhbnNmb3JtPSJyb3RhdGUoODQgNTAgNTApIj4gICAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPiAgICA8L2NpcmNsZT4gIDwvc3ZnPg==);
    }
  }

  // spinner with animation pauses
  &__spin-delayed {
    -webkit-animation: fa-spin-delayed 4s infinite ease-in-out;
    -o-animation: fa-spin-delayed 4s infinite ease-in-out;
    animation: fa-spin-delayed 4s infinite ease-in-out;
  }

  // spinner with animation pauses for :after and :before child
  &__spin-delayed--pseudo-selector:before,
  &__spin-delayed--pseudo-selector:after {
    display: inline-block;
    -webkit-animation: fa-spin-delayed 3s infinite ease-in-out;
    -o-animation: fa-spin-delayed 3s infinite ease-in-out;
    animation: fa-spin-delayed 3s infinite ease-in-out;
  }

  // ant design example blocks
  &__codeCollapse {
    .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
      padding-left: rem(30);
      padding-right: rem(30);
    }

    .ant-collapse-borderless > .ant-collapse-item {
      margin-top: rem(17);
      border-top: 1px solid $gray-border;
      border-bottom: none;
    }
  }

  &__overflowXTable {
    .ant-table {
      td,th {
        white-space: nowrap;
      }
    }
    .ant-table-body {
      overflow-x: auto;
    }
  }
}

.color {
  &__muted {
    color: $text-lighten;
  }
}

.anticon {
  vertical-align: 2px;
}


/////////////////////////////////////////////////////////////////////////////////////////
/*  CORE ANIMATIONS */

// default spinner animation
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// animation with pauses
@-webkit-keyframes fa-spin-delayed {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


// latest code 04/2/2019
.items-col {
  margin: 30px 0;
  .item-image {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 10px 0;
    text-align: center;
    img {
      min-width: 100%;
      max-width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
  .item-content {
    background: #f8f8f9;
    padding: 20px 15px;
    position: relative;
    text-align: center;
    h5 {
      color: #0190fe;
      font-size: 14px;
    }
    h2 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 5px;
    }
    p {
    }
    .price {
      span {
        display: inline-block;
        margin-right: 15px;
      }
      span.actual-price {
        font-weight: bold;
        font-size: 22px;
      }
      span.cut-price {
        font-size: 18px;
        text-decoration: line-through;
      }
    }
    .rating-views {
      margin: 15px 0 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 15px;
          span {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
    .like-star {
      position: absolute;
      top: 15px;
      right: 15px;
      span {
        font-size: 22px;
      }
    }
  }
}

.shelf-position {
  display: inline-flex;
  .share_of_shelf {
    margin-top: 50%;
  }
  .chart-position {
    margin-left: 0px;
    position: absolute;
    width: 100%;
  }
}
.chart-col {
  margin: 10px 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
}
.piechart {
  background: #f2f4f8;
  padding: 30px;
}
.share_of_shelf {
  text-align: center;
  padding-top: 50%;
}

.ant-table-body {
  max-height: 250px !important;
}

.ant-radio-button-wrapper {
  .ant-radio-button-wrapper:hover {
    background-color: #5dade2;
  }
  span {
    font-size: 20px;
  }
}

.placment-radio  .ant-form-item-control {
  padding: 20px;
}
.col-md-4 {
  h3 {
    font-size: 20px;
    text-align: center;
    margin: 0px;
  }
}

.retailer-options {
    display: inline;
    margin: 20px;
    font-size: 19px;
    span {
      display: inline-block;
    }
}
.filters-holder{
  padding: 15px 0 0;
  label{
    display: block;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
  }
  input[type="text"]{
    width: 100%;
    border: 1px solid #e4e9f0;
    border-radius: 5px;
    padding: 10px;
  }
  input[type="text"]:focus{
    border: 1px solid #0190fe;
  }
}
.ant-radio-button-wrapper span {
  font-size: 13px;
}
.placment-radio .ant-radio-button-wrapper{
  height: auto !important;
  font-size: 18px;
  padding: 8px 10px;
}
.placment-radio .ant-radio-button-wrapper span{
  font-size: 18px !important;
}
.placment-radio .ant-calendar-range-picker-input{
  text-align: left !important;
}
.placment-radio .ant-form-item-control {
  padding: 40px 20px 0 !important;
}
.placment-radio .ant-radio-button-wrapper-checked{
  background: #0190fe;
  color: #fff;
}
.retailer-detail{
  margin: 50px 0 10px;
  h2{
    color: #1f9dfe;
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
  }
  h3{
    font-size: 20px;
    color: #9c9c9e;
  }
}
.card-header{
  position: relative;
  padding: 10px 0 !important;
  .text-black{
    padding: 30px 20px 0;
  }
  .card-date{
    label{
      display: block;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.retailer-table {
  .ant-table-body{
    max-height: 600px !important;
    min-height: 600px !important;
  }
} 
body.borderLess .card-header{
  padding: 1.53rem 2.3rem !important; 
}
.ant-table-column-has-filters a{
  color: #007bff !important;
}
.piechart .card-header .text-black{
  padding: 0;
}
.ant-calendar-picker{
  vertical-align: text-bottom;
}
.ant-input{
  height: 44px;
}
.retailer-options{
  display: inline-block;
}
.report-table .ant-table-body{
  max-height: 100% !important;
}
.dataCard--checkbox{
  padding: 20px !important;
}
.alert-input{
  height: 32px;
}

.product-inputgroup .ant-select-selection--single {
  height: 44px;
}
.product-inputgroup .ant-select-selection--single .ant-select-selection__rendered{
  line-height: 44px;
}
button.product-inputgroup{
  height: 44px;
}
.review-card{}
.review-card .ant-card-grid{
  width: 100%;
  float: none;
  text-align: left;
  overflow: hidden;
}
.review-card .ant-card-grid span{
  margin-right: 5px;
}
.review-card .ant-card-grid  .rating-text{
  color: green;
}
.reviews-ids{
  margin: 15px 0 0;
}
.reviews-ids ul{
  list-style: none;
  padding-left: 0;
}
.reviews-ids ul li{
  display: inline-block;
  position: relative;
  margin: 5px 30px 5px 0;
}
.reviews-ids ul li:after{
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
}
.reviews-ids ul li strong{
  display: inline-block;
  margin-right: 5px;
  display: block;
}
.reviews-ids ul li span{
  display: inline-block;
  word-break: break-all;
}
.reviews-ids ul li:last-child:after{
  display: none;
}
.load-btn{
  margin: 10px 0;
}
.review-card .ant-rate li:focus{
  outline: none;
}
.ant-card-grid {
  box-shadow:none;
  -webkit-box-shadow: 0;

}
.card-border-remove {
  border: none;
}
.review-card{
  border: 1px solid #e2e2e2;
  border-bottom: none;
}
.review-parent .ant-card-head{
  border-bottom: none;
}
.icmn-bubble::before{
  display: none;
}
.custom-bubble{
  background: url(./style/star-bubble-dark.png) no-repeat;
  width: 15px;
  height: 15px;
  background-size: 100%;
  background-position-x: 0px;
  right: 24px;
}
.ant-menu-submenu-inline:hover .custom-bubble{
  background: url(./style/star-bubble.png) no-repeat;
  width: 15px;
  height: 15px;
  background-size: 100%
}


@media only screen and (max-width: 1440px) {
  .ant-radio-button-wrapper span {
      font-size: 14px !important;
  }
  .filters-holder label{
    font-size: 14px;
  }
  .ant-calendar-picker{
    padding: 0 10px;
  }
  .chart-col{
    min-height: 350px;
  }
  .piechart{
    padding: 30px 0;
  }
  .ant-calendar-picker-clear, .ant-calendar-picker-icon{
    right: 20px;
  }
  .dataCard__value{
    font-size: 2.69rem;
  }
  .dataCard__title h5{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1280px) {
  .dataCard__value{
    font-size: 2.0rem;
  }
  
}
@media only screen and (max-width: 1199px) {
  .ant-form-item label{
    display: block;
  }
  .fouth-chart{
    min-height: 450px;
  }
    .retailer-detail{
      margin: 0;
  }
  body.borderLess .card-header {
      padding: 10px 20px 20px !important;
  }
  .card-block{
    padding: 0 10px;
  }
  .items-col .item-content h2{
    font-size: 18px;
  }
  .items-col .item-content .price span.actual-price{
    font-size: 18px;
  }
  .items-col .item-content .price span.cut-price{
    font-size: 16px;
  }
  .custom-column{
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .dataCard--checkbox{
    padding: 15px;
  }
  .dataCard--checkbox .dataCard__value {
      font-size: 2.5rem;
  }
  .dataCard--checkbox::before{
    right: 1.46rem;
    top: 1.3rem;
  }
  .alert-radiogroup label{
    display: inline-block !important;
  }
}
@media only screen and (max-width: 991px) {
  .custom-column {
    -ms-flex: 0 0 33.3%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .alert-modal{
    width: 700px !important;
  }
}
@media only screen and (max-width: 767px) {
  .ant-form-item label {
      display: inline-block;
  }
  .filters-holder {
      padding: 15px 15px 0;
  }
  .share_of_shelf{
    padding-top: 0;
  }
  .utils__title{
    padding: 0 10px;
  }
  .mr-4, .mx-4 {
      margin-right: 1.1rem!important;
  }
  .card-date{
    padding: 0 15px;
  }
  .retailer-options{
    margin: 20px 0;
  }
  .items-col {
      margin: 0 0 30px;
  }
  .ant-avatar-lg > * {
      line-height: 32px;
  }
  .ant-avatar-lg.ant-avatar-icon {
      font-size: 16px;
  }
  .ant-avatar-lg{
    width: 30px;
    height: 30px;
    line-height: 20px;
  }
  .topbar{
    padding: 0 0.5rem;
  }
  .custom-column {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .review-card .ant-card-grid{
    padding: 0;
  }
  .review-parent .ant-card-body{
    padding: 15px 0;
  }
  .review-card{
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
  }
}
.dataCard__value--red{
  color: red;
}
.dataCard__value--green{
  color: green;
}
.line-span{
  margin: 0 8px;
}

#positiveReview a:hover {
  text-decoration: underline;
}

#positiveReviewTotal a:hover {
  text-decoration: underline;
}

#negativeReview a:hover {
  text-decoration: underline;
}

#negativeReviewTotal a:hover {
  text-decoration: underline;
}

.make-pointer {
  cursor: pointer;
}
.more-sku-popover {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  white-space: normal;
  font-weight: normal;
  text-align: left;
  max-width: 500px;
}
.more-sku-popover:after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
}
.more-sku-popover-hidden {
  display: none;
}
.more-sku-popover-placement-top,
.more-sku-popover-placement-topLeft,
.more-sku-popover-placement-topRight {
  padding-bottom: 10px;
}
.more-sku-popover-placement-right,
.more-sku-popover-placement-rightTop,
.more-sku-popover-placement-rightBottom {
  padding-left: 10px;
}
.more-sku-popover-placement-bottom,
.more-sku-popover-placement-bottomLeft,
.more-sku-popover-placement-bottomRight {
  padding-top: 10px;
}
.more-sku-popover-placement-left,
.more-sku-popover-placement-leftTop,
.more-sku-popover-placement-leftBottom {
  padding-right: 10px;
}
.more-sku-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.more-sku-popover-title {
  min-width: 177px;
  margin: 0;
  padding: 5px 16px 4px;
  min-height: 32px;
  border-bottom: 1px solid #e8e8e8;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.more-sku-popover-inner-content {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.85);
}
.more-sku-popover-message {
  padding: 4px 0 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
}
.more-sku-popover-message > .anticon {
  position: absolute;
  top: 8px;
  color: #faad14;
  font-size: 14px;
}
.more-sku-popover-message-title {
  padding-left: 22px;
}
.more-sku-popover-buttons {
  text-align: right;
  margin-bottom: 4px;
}
.more-sku-popover-buttons button {
  margin-left: 8px;
}
.more-sku-popover-arrow {
  background: #fff;
  width: 8.48528137px;
  height: 8.48528137px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
}
.more-sku-popover-placement-top > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-topLeft > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-topRight > .more-sku-popover-content > .more-sku-popover-arrow {
  bottom: 5.5px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}
.more-sku-popover-placement-top > .more-sku-popover-content > .more-sku-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.more-sku-popover-placement-topLeft > .more-sku-popover-content > .more-sku-popover-arrow {
  left: 16px;
}
.more-sku-popover-placement-topRight > .more-sku-popover-content > .more-sku-popover-arrow {
  right: 16px;
}
.more-sku-popover-placement-right > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-rightTop > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-rightBottom > .more-sku-popover-content > .more-sku-popover-arrow {
  left: 6px;
  -webkit-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
}
.more-sku-popover-placement-right > .more-sku-popover-content > .more-sku-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.more-sku-popover-placement-rightTop > .more-sku-popover-content > .more-sku-popover-arrow {
  top: 12px;
}
.more-sku-popover-placement-rightBottom > .more-sku-popover-content > .more-sku-popover-arrow {
  bottom: 12px;
}
.more-sku-popover-placement-bottom > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-bottomLeft > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-bottomRight > .more-sku-popover-content > .more-sku-popover-arrow {
  top: 6px;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}
.more-sku-popover-placement-bottom > .more-sku-popover-content > .more-sku-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.more-sku-popover-placement-bottomLeft > .more-sku-popover-content > .more-sku-popover-arrow {
  left: 16px;
}
.more-sku-popover-placement-bottomRight > .more-sku-popover-content > .more-sku-popover-arrow {
  right: 16px;
}
.more-sku-popover-placement-left > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-leftTop > .more-sku-popover-content > .more-sku-popover-arrow,
.more-sku-popover-placement-leftBottom > .more-sku-popover-content > .more-sku-popover-arrow {
  right: 6px;
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
}
.more-sku-popover-placement-left > .more-sku-popover-content > .more-sku-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.more-sku-popover-placement-leftTop > .more-sku-popover-content > .more-sku-popover-arrow {
  top: 12px;
}
.more-sku-popover-placement-leftBottom > .more-sku-popover-content > .more-sku-popover-arrow {
  bottom: 12px;
}

.menuLeft.ant-layout-sider-collapsed .icmn-bubble.menuLeft__icon {
  margin-right: 3px !important;
}

.admin-customers .ant-table-body, .admin-users .ant-table-body, .admin-admins .ant-table-body, .support-view-table .ant-table-body {
  max-height: none !important;
}
.ant-dropdown-menu-item .link-to-more {
  color: #0190fe;
}
.recent-tickets-group .ant-dropdown-menu-item-group-list {
  list-style: none;
}

.ticket-icon {
  width: 16px;
  height: auto;
}

.filter-columns-dropdown {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.review-counts {
  padding-right: 15px;
  font-size: 18px;
}
.filter-sort-reviews {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
.filter-sort-reviews i {
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.filter-sort-reviews-btn {
  display: block;
  height: 30px;
  line-height: 30px;
  border: none;
}

.filter-sort-reviews-btn.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
.filter-sort-reviews-btn.ant-radio-button-wrapper-checked{
  box-shadow: none;
}
.filter-sort-reviews-btn.ant-radio-button-wrapper-checked::before {
  font-family: 'icomoon'!important;
  content: "\ea10";
  display: block!important;
  position: absolute;
  left: -5px;
  background: none!important;
  opacity: 1;
}

.filter-sort-reviews-btn.ant-radio-button-wrapper {
  border: none #ffffff;
}
.filter-sort-reviews-btn.ant-radio-button-wrapper-checked {
  border: none #ffffff;
}

.filter-sku-input {
  height: auto;
}

.filter-by-sku {
  display: inline-block;
  width: inherit;
}
.filter-by-sku input {
  width: inherit;
}
.clear-filters-sorts-btn{
  margin-top: 10px;
}
.review-filter-sort-header {
  overflow: hidden;
}

.mv-price-difference {
  margin: 10px 20px 0;
  span {
    display: block;
    font-size: 10px;
  }
  input {
    height: auto;
  }
}
.expand-map-violations {
  float: right;
  margin-right: 15px;
}
.badge.badge-for-price {
  background: #FDF1E8;
  border: 1px solid #f9bf9c;
  border-radius: 3px;
  color: #f45923;
}