// Import mixins from "core" module
@import '../../../mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN SPIN */

.ant-spin-blur {
  filter: none !important;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}